@layer theme, base, antd, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Font family */
  --font-family-sans: "Be Vietnam Pro", system-ui, sans-serif;

  /* Font weight */
  --font-weight-400: 400;
  --font-weight-700: 700;

  /* Text sizes */
  --text-xs: 10px;
  --text-12: 12px;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-omd: 820px;
  --breakpoint-base: 1366px;
  --breakpoint-3xl: 1920px;
}

@layer components {
  html,
  body {
    @apply bg-white text-base;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  .rdrCalendarWrapper {
    width: 100% !important;
  }
  .rdrMonth {
    width: 100% !important;
  }

  @media (max-width: 420px) {
    .rdrMonth {
      padding: 0 !important;
    }
    .rdrNextPrevButton {
      margin: 0 !important;
    }
  }
}

@utility custom-page-padding {
  @apply px-4 omd:px-[8%] xl:px-[12%];
}

@utility custom-page-margin {
  @apply mx-4 omd:mx-[8%] xl:mx-[12%];
}

.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: #ff3366 #f1f1f1;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ff3366;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #e62e5c;
  }
}

.custom-modal {
  overflow: hidden !important;
}
.custom-modal .ant-modal-content {
  padding: 0px 10px 10px 5px;
}
